./build/**
./.vscode/**
./._pycache_/**
./*.spec
autoconect.spec
build/autoconect/Analysis-00.toc
build/autoconect/autoconect.pkg
build/autoconect/base_library.zip
build/autoconect/EXE-00.toc
build/autoconect/PKG-00.toc
build/autoconect/PYZ-00.pyz
build/autoconect/PYZ-00.toc
build/autoconect/localpycs/pyimod01_archive.pyc
build/autoconect/xref-autoconect.html
build/autoconect/warn-autoconect.txt
build/autoconect/localpycs/pyimod02_importers.pyc
build/autoconect/localpycs/pyimod03_ctypes.pyc
build/autoconect/localpycs/struct.pyc
build/autoconect/localpycs/pyimod04_pywin32.pyc
